@import "./variable";



body {
   
    font-size: 15px;
    font-family: 'Zilla Slab', serif;
}

a {}

.secondary-menu-container{
    margin-left: 6%;
    margin-right: 6%;
}

.bg {
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100px;
    opacity: 0;

}

.show {
    opacity: 0.7;
}

.transition {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.menubar {
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
   
}


.menu-options{
    .menu-item {
        .nav-link {
            padding-right: 0.8rem !important;
            text-align: center;
            font-size: 14px;
            color: rgb(85, 85, 85);
            font-size: 16px;
        }
    
     
    
    }
    .active{
        color: black;
        font-weight: 600;
    }
    
}
// .searchRow{
//     input{
//         border-radius: 50px;
//         opacity: 0.6;
//         height: 35px;
//     }
//     button{
//         width: 35px;
//         height: 35px;
//         border-radius: 100%;
//         background-color: white;
//         border: none;
//     }
// }



.section-1{
    margin-top: 20vh;
    .profile{
        .profile-pics{
            .image{
                width: 150px;
                height: 150px;
                overflow: hidden;
                border-radius: 100%;
                margin: auto;
                img{
                    width: 100%;
                }
            }
        }
        .intro{
            font-size: 32px;

        }
        .mini-intro{

        }
    }
}
.section-2{
    margin-top: 10vh;
    margin-left: 6%;
    margin-right: 6%;
    .title{
        font-size: 20px;
    }
    .jobs-done{
    
        ul{
            width: 100%;
            margin: auto;
    
            overflow-x: scroll;
            overflow-y: hidden;
    
            &::-webkit-scrollbar {
                display: none;
            }
            flex-wrap: nowrap;
            @media (min-width:1080px) {
                justify-content: center;
            }
            li{
               
                a{
                    text-align: center;
                    width: 260px;
                    color: rgb(85, 85, 85);
                    font-weight: 400;
                    font-size: 18px;
                }
            }
            .active{
                background-color: transparent;
                color: black;
                font-weight: 600;
               
            }
        }
        .job-category{
            opacity: 1;
            .job-category-jobs{
                .jobs{
                    .image{
                        width: 410px;
                        height: 250px;
                        overflow: hidden;
                       border-radius: 15px;
                        img{
                            width: 100%;
                           
                           &:hover{
                               width: 105%;
                             
                           }
                        }
                    }
                    .label{
                        font-size: 18px;
                        color: black;
                        font-weight: 600;
                    }
                    .category{
                        font-size: 16px;
                    }
                    .tags{
                        font-size: 14px;
                    }
                }
            }
        }
    }

}






