@import "./home.scss";

@import "./variable.scss";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background: white !important;
}

.banner-area {
    height: 75vh;

    .location-info {
        .obalende-info {
            font-size: 18px;
        }
    }

}

.enterprise {

    .box{
        max-width: 1300px;
    }

    .title{
        @include title();
        padding-bottom: 50px;
    }

    .image-div {
        img {
            width: 100%;
        }
    }

    .write-up {
        padding-top: 5%;

        h3 {
            color: $firstClr;
        }

    }
}

.mobile {
    padding-top: 100px;
    .box{
        max-width: 1300px;
    }

      .image-div {
        img {
            width: 90%;
        }
    }

    .write-up {
        padding-top: 9%;

        h3 {
            color: $firstClr;
        }

    }
}

.parallax {
    background-image: url("/assets/images/Group\ 24.png");

    img {
        height: 30px;
        margin-bottom: 20px;
    }

    p {
        color: white;
        margin-bottom: 0;
        font-size: 18px;
    }

    h2 {
        @include h2($secondClr, 60px);
        font-weight: 400;
    }

}

.application{
    margin: 70px 0;
    .title{
        @include title();
        padding-bottom: 50px;
    }
    .description{
        max-width: 800px;
        margin: auto;
        padding-bottom: 100px;
    }
}

.productivity{
    padding: 100px 0;
    background: $verylightgray;
    .D.A.P{
        max-width: 1400px;
        p{

        }
    }
}
